############################################################
#
# Buildout config file to build and customize dlib
#
# http://dlib.net
#
############################################################

[src-versions]
dlib = 19.9

[downloads]
dlib = https://github.com/davisking/dlib/archive/v${src-versions:dlib}.tar.gz

[dlib-src]
recipe = hexagonit.recipe.download
url = ${downloads:dlib}
strip-top-level-dir = true

# dlib is using cmake to compile and build.
[dlib-build]
recipe = collective.recipe.cmd
# the prefix for installation.
prefix = ${buildout:directory}/parts/dlib-build
# add this property to keep consistant with other buildout parts.
# Buildout parts by default use location to tell
# where has this part been installed.
location = ${:prefix}
cmds =
    mkdir -p ${:prefix}
