#########################################################
# This buildout config is following the uWSGI Quickstart guide
# to build and / or deploy:
#
# - build and deploy a simple Python WSGI application
# - deploy Django application
# - deploy Flask application
# 
# Here is the uWSGI quickstart guide for Python:
# http://uwsgi-docs.readthedocs.org/en/latest/WSGIquickstart.html
#########################################################

[buildout]
extends = 
    cfgrepo/config/base.cfg
    cfgrepo/config/uwsgi/uwsgi-build.cfg
    cfgrepo/config/uwsgi/uwsgi-conf.cfg
    cfgrepo/config/supervisor.cfg

parts = 
    uwsgi-egg-custom
    supervisor-bin

[supervisor-conf]
programs = 
    ${uwsgi-hello-py-conf:supervisor-program}
