###################################################################
#
# buildout config file for build flask appliction.
#
###################################################################

[buildout]
eggs =
    Flask

################
#
# the simple hello flask application to demo how to set up
# uWSGI for a flask application.
# the config for uWSGI is defined in part [uwsgi-hello-flask-conf] 
# in file:
# - /config/uwsgi/uwsgi-conf.cfg
#
[flask-hello-py]
recipe = zc.recipe.egg
# the path to the script we generated.
flask-hello-py-script = ${buildout:directory}/var/www/helloflask.py
# a fake entry point for this egg recipe
entry-points = ${:flask-hello-py-script}=os:getpid
eggs = ${buildout:eggs}
initialization = 
    from flask import Flask
    import os
    
    app = Flask(__name__)
    
    @app.route('/')
    def index():
        return "<span style='color:red'>I am Flask app</span>"
