################
# this is mainly a place for download php applications
# 
# We are trying to provide a easy way to set up an 
# application from scratch.
# It is good for initializing a new project and
# should provide a lot convenient for developers to try
# different things.
#
################

[src-versions]
wordpress = 3.7.1
mediawiki-major = 1.22
mediawiki = ${:mediawiki-major}.0rc2

[downloads]
wordpress = http://wordpress.org/wordpress-${src-versions:wordpress}.tar.gz
mediawiki = http://download.wikimedia.org/mediawiki/${src-versions:mediawiki-major}/mediawiki-${src-versions:mediawiki}.tar.gz

# download WordPress and decompress it 
[wordpress-build]
<= base-download
url = ${downloads:wordpress}
# default destination is buildout['parts-directory']
#destination = 
strip-top-level-dir = true

[mediawiki-build]
<= base-download
url = ${downloads:mediawiki}

#[zend-build]

