#
# buildout config to generate facilities and utilities for php
# unit testing.
#

# 
# dependence:
# this depends on the php-build part.
#

########
# part to install phpunit for unit testing
# unit testing is the best wayt to learn the langurage.
#
[phpunit-install]
# we will extend the base-command part, 
# which is defined in file config/base.cfg
<= base-command
cmds =
    cd ${php-build:location}
    wget ${downloads:phpunit}
    chmod +x phpunit.phar
    mv phpunit.phar bin/phpunit

# generate the phpunit script in buildout bin folder
[phpunit-bin]
recipe = collective.recipe.template
output = ${buildout:bin-directory}/phpunit
inline =
    #!/bin/sh
    ${php-build:location}/bin/php ${php-build:location}/bin/phpunit $@
mode = 755

# generate the php script in buildout bin folder
# It will using the local php.ini file.
[php-bin]
recipe = collective.recipe.template
output = ${buildout:bin-directory}/php
inline =
    #!/bin/sh
    ${php-build:location}/bin/php -c ${php.ini:output} $@
mode = 755
