####################################################################
#
# buildout configuration to build and install Java programming
# language and run time environment
#
####################################################################

[src-versions]
java = 8u73
tomcat-major = 7
tomcat = ${:tomcat-major}.0.50
solr = 4.7.0
nutch = 2.0
# elasticsearch version 1.7.5 relased on February, 2016
elasticsearch = 1.7.5
# elasticsearch version 2.2.1 released on February 12, 2016
#elasticsearch = 2.2.1

[downloads]
java-auth-param = 1455754634_91f03b9a8817e75ca5cfac0f0d921801
java = http://download.oracle.com/otn-pub/java/jdk/${src-versions:java}-b02/jdk-${src-versions:java}-linux-x64.tar.gz?AuthParam=${:java-auth-param}
tomcat = https://archive.apache.org/dist/tomcat/tomcat-${src-versions:tomcat-major}/v${src-versions:tomcat}/bin/apache-tomcat-${src-versions:tomcat}.tar.gz
#solr = http://apache.parentingamerica.com/lucene/solr/${src-versions:solr}/apache-solr-${src-versions:solr}.tgz
# since release 4.1.0 Solr distrbution removed the apache prefix from 
# the fileanem
# apache achive site have all legacy versions.
solr = http://archive.apache.org/dist/lucene/solr/${src-versions:solr}/solr-${src-versions:solr}.tgz
nutch = http://archive.apache.org/dist/nutch/${src-versions:nutch}/apache-nutch-${src-versions:nutch}-src.zip
# download url for elasticsearch
elasticsearch = https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-${src-versions:elasticsearch}.zip

[java-base-build]
recipe = hexagonit.recipe.download
url = set_the_right_URL
strip-top-level-dir = true

[java-build]
<= java-base-build
url = ${downloads:java}

# put the tomcat download here for now.
[tomcat-build]
<= java-base-build
url = ${downloads:tomcat}

[solr-build]
<= java-base-build
url = ${downloads:solr}

[nutch-build]
<= java-base-build
url = ${downloads:nutch}
strip-top-level-dir = false

################################
# build part for elasticsearch,
# basically just need download.
# this will depends on Java installation, version 1.7 or higher.
[elasticsearch-build]
<= java-base-build
url = ${downloads:elasticsearch}
