#
# buildout configuration for Wildfly application server.
#

[buildout]
# extends will be the relative path from the folder of the current file.
extends =
    ../base.cfg

[users]
wildfly = ubuntu

[versions]
#wildfly = 18.0.1.Final
wildfly = 26.0.1.Final

#
# supervisor-bin will call supervisor-conf to get the configuration file.
# it is defined in file: supervisor.cfg
# we do not need it here. the main buildout.cfg need this part.
#
#[supervisor-conf]
#input = cfgrepo/template/supervisor.conf.in
#programs =
#    ${wildfly-18-program:supervisor-program}

[wildfly-build]
<= base-download
#url = https://download.jboss.org/wildfly/${versions:wildfly}/wildfly-${versions:wildfly}.tar.gz
# version 26 distribution moved to GitHub
url = https://github.com/wildfly/wildfly/releases/download/${versions:wildfly}/wildfly-${versions:wildfly}.tar.gz

[wildfly-conf]
# extend this part to do customize.
# for example:
# [wilfly-26-conf]
# <= wildfly-conf
# more-property = property-value
#
jboss-standalone-xml = standalone-full.xml

#
# this part will generate the program section for supervisor config
# extends it for customization.
# for example:
#
# [wildfly-26-program]
# <= wildfly-program
# java-home = /Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home/
#
[wildfly-program]
# the java-home here is for MacOS, you could set up the java home based on your server.
java-home = /usr/local/Cellar/openjdk@8/1.8.0+312
# wildfly standalone will get config file from standalone/configuration folder
opt-server-config = --server-config=${wildfly-conf:jboss-standalone-xml}
# the default JVM setting from Wildfly installatioin.
#java-opts = -server -Xms64m -Xmx512m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true
java-opts = -server -Xms2g -Xmx4g -XX:MetaspaceSize=1024M -XX:MaxMetaspaceSize=2048m -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true
supervisor-program-name = wildfly-26
supervisor-program =
    [program:${:supervisor-program-name}]
    command = ${wildfly-build:location}/bin/standalone.sh ${:opt-server-config}
    process_name = ${:supervisor-program-name}
    directory = ${wildfly-build:location}
    priority = 100
    environment = JAVA_HOME="${:java-home}",JAVA_OPTS="${:java-opts}",JBOSS_HOME="${wildfly-build:location}"
#    environment = JAVA_OPTS="${:java-opts}",JBOSS_HOME="${wildfly-18-build:location}"
    user = ${users:wildfly}
    stopasgroup = true
