#
# This is a simple buildout config file to show some basic information.
#
# Here are how to play with it:
# [buildout]
# extends =
#     cfgrepo/config/hello/buildout.cfg
#
# [hello-buildout]
# extra +=
#     echo 'my server location: ${my-server:location}'
#
# call build out the execute this part only.
#
# $ bin/buildout -N install hell-buildout
#

[buildout]
parts =
    hello-buildout

########
# simple part to use the cmd recipe to show some message.
# It is using a simple cmd recipe to show some easy message.
# We can check the details by using the `annotate` buildout command.
#  - bin/buildout annotate hello-buildout
#
[hello-buildout]
recipe = collective.recipe.cmd
# set to run at install phase
on_install = true
# default is false, which is not run on update
on_update = true
# add some extra message:
# The main (entrence) buildout could use this to append extra message:
# [hello-buildout]
# extra +=
#     echo 'my server location: ${my-server:location}'
#
extra =
    echo '========================================================='
    echo ' Extra Message:'
    echo '========================================================='
cmds =
    echo '========================================================='
    echo 'hello buildout!'
    echo '========================================================='
    echo 'some section key pairs:'
    echo '---------------------------------------------------------'
    echo 'buildout:directory = ${buildout:directory}'
    echo 'buildout:parts     = ${buildout:parts}'
    echo ':recipe            = ${:recipe}'
    ${:extra}

# some examples of query and annotate command
# - ../bin/buildout query buildout:directory
# /Users/xiangchen/rd/boilerplate/hello
#
# The annotate command will show all the key = value pairs for
# all parts or a specific part if user set it.
# For example, this will show all key = value pairs:
# - bin/buildout annotate
#
#
# This will show key = value pairs for only hello-buildout part.
# - bin/buildout annotate hello-buildout
