###################################################################
# Buildout config to compile and build MySQL server from source 
# code.
# Since MySQL version 5.5, the source code build process
# depends on cmake.
###################################################################

# this section will specify the versions for different libs/parts.
[src-versions]
# 5.0
mysql-major = 5.5
# 5.0.45
mysql = ${:mysql-major}.27

# this section will specify the urls to download differtn parts.
# you might need change the url to fit with your location.
[downloads]
mysql = http://www.mysql.com/get/Downloads/MySQL-${src-versions:mysql-major}/mysql-${src-versions:mysql}.tar.gz/from/http://mirror.csclub.uwaterloo.ca/mysql/

[mysql-src]
recipe = hexagonit.recipe.download
url = ${downloads:mysql}
strip-top-level-dir = true

[mysql-build]
recipe = collective.recipe.cmd
# the prefix for installation.
prefix = ${buildout:directory}/parts/mysql-build
# add this property to keep consistant with other buildout parts.
# Buildout parts by default use location to tell
# where has this part been installed.
location = ${:prefix}
# the default data directory
datadir = ${buildout:directory}/var/mysql/data
on_install = true
on_update = false
cmds = 
    mkdir -p ${:prefix}
    mkdir -p ${:datadir}
    cd ${mysql-src:location}
    cmake . -DCMAKE_INSTALL_PREFIX=${:prefix} -DMYSQL_DATADIR=${:datadir}
    make install
