[buildout]
extends =
    cfgrepo/apps/buildout-java-solr.cfg

# the += will append the parts to the existing parts list.
parts += 
# duplicate part will be ignored by buildout
   java-build
# Tomcat build mainly is download and extract the packaged files.
   tomcat-build
   solr-build
   solr-context
   solr-conf
   tomcat-conf
   tomcat-users
# This part will only generate the program section of supervisor
# supervisord configuration, it is good for include property.
   supervisor-conf-programs

[supervisor-conf]
# append (+=) tomcat supervisor program to the programs.
programs +=
    ${tomcat-conf:supervisor-program}

#####################################################
#
# Following are buildout parts to tweak the settings
#
#####################################################

[tomcat-conf]
# this will increate the RAM for JVM.
catalina_opts = "-XX:MaxPermSize=128M -Xms2408m -Xmx2408m"

[tomcat-users]
########
# define some extra dev users here.
# there are some default users in the template input file.
users =
    <user username="manager" password="managerPassword" roles="tomcat,manager-gui,manager-script,manager-jmx"/>

[solr-conf]
# this one is for set up Solr multi cores.
cores =
    <core default="true" instanceDir="/path/to/solrcore/conf/folder/" name="coreOne"/>
    <core instanceDir="/path/to/solrcore/conf/folder2/" name="coreTwo"/>
