####################################################################
#
# buildout config file to generate two categories of configurations 
#
# - configuration file for logstash
#   There are 2 types of configuration files for logstash
#   - pipline configuration files to 
#     setup the logstash processing pipeline.
#   - settings files to
#     controle the logstash startup and execution
#
# - supervisor program for logstash
#
# We could have some scenarios like:
# - same logstash startup and execution but 
#   different processing pipeline.
#
# here are some reference page:
# - run logstash from command line: 
# https://www.elastic.co/guide/en/logstash/current/running-logstash-command-line.html
####################################################################

############################################
#
# processing pipeline configuration.
#
############################################
# The Logstash event processing pipeline has three stages: 
# inputs → filters → outputs
[logstash-conf]
# extends the buildout part from file
# - cfgrepo/config/base.cfg
<= base-generate-file-from-inline
filename = logstash.conf
file-content =
    input { stdin { } }
    output {
# not using leasticsearch!
#      elasticsearch { hosts => ["localhost:9200"] }
      stdout { codec => rubydebug }
    }
#==============================================

##############################################
#
# settings files configurations including:
# - logstash.yml, port and hosts for monitoring APIs
# - jvm.options, JVM heap size.
# - log4j2.properties,
# - pipelines.yml, for multiple pipelines support.
#
# default files are in in folder
# - ${logstash-build:location}/config
#
##############################################
# TODO:
#==============================================

############################################
#
# This part will generate a supervisor config file,
# which will only have program section(s).
# This supervisor config file will be used fir include section
# of another supervisor config file.
#
# This part extends from a base part, which is defined in 
# file config/base.cfg
########
[logstash-supervisor-program]
<= base-generate-file-from-inline
filename = supervisor-programs.conf
target-folder = ${settings:etc-directory}
supervisor-priority = 50
# setup the supervisor program.
program-name = logstash
logstash-build-location = ${logstash-build:location}
logstash-bin = ${:logstash-build-location}/bin/logstash
logstash-config = ${logstash-conf:output}
file-content =
    [program:${:program-name}]
    command = ${:logstash-bin} -f ${:logstash-config}
    process_name = logstash
    directory = ${:logstash-build-location}
    priority = ${:supervisor-priority}
    redirect_stderr = false
#===================================================
