[buildout]
extends =
    ../config/base.cfg
    ../config/php/php-build.cfg
    ../config/php/php-tools.cfg
    ../config/php/php-conf.cfg

[src-versions]
# php 7.0.3 was released on Feburary, 2016
php = 7.0.3

[php-build]
php-build-mysql-options =
#    --with-mysql
#    --with-pdo-mysql
#    --with-mysqli
# using the following if mysql installed from source.
    --with-mysql=${mariadb-build:location}
    --with-pdo-mysql=${mariadb-build:location}
    --with-mysqli=${mariadb-build:location}/bin/mysql_config
#php-build-libdir-options =
## options for 64 bit hardware, comment out them for a 32 bit hardware
#    --libdir=${buildout:directory}/parts/php-build/lib64
#    --with-libdir=lib64

# TODO: customize the php.ini and php-fpm.conf
