###################################################################
# Buildout config to compile and build MariaDB server from source 
# code.
###################################################################

# this section will specify the versions for different libs/parts.
[src-versions]
# the major release number
mariadb-major = 5.5
# the full release number
mariadb = ${:mariadb-major}.33a

# this section will specify the urls to download differtn parts.
# you might need change the url to fit with your location.
[downloads]
mariadb = http://mirror.weathercity.com/mariadb/mariadb-${src-versions:mariadb}/kvm-tarbake-jaunty-x86/mariadb-${src-versions:mariadb}.tar.gz

[mariadb-src]
recipe = hexagonit.recipe.download
url = ${downloads:mariadb}
strip-top-level-dir = true

[mariadb-build]
recipe = collective.recipe.cmd
# the prefix for installation.
prefix = ${buildout:directory}/parts/mariadb-build
# add this property to keep consistant with other buildout parts.
# Buildout parts by default use location to tell
# where has this part been installed.
location = ${:prefix}
# the default data directory
datadir = ${buildout:directory}/var/mariadb/data
on_install = true
on_update = false
cmds = 
    mkdir -p ${:prefix}
    mkdir -p ${:datadir}
    cd ${mariadb-src:location}
    cmake . -DCMAKE_INSTALL_PREFIX=${:prefix} -DMYSQL_DATADIR=${:datadir}
    make install
