[buildout]
# extends from the base buildout config.
extends = buildout-base.cfg

# tweak the setting for different environment, for example:
# - development server
# - local desktop
# - stage server
# - production server


