[buildout]
# extends from the base buildout config.
extends = buildout-base.cfg
versions = versions

[src-versions]
mariadb = 10.0.5

# tweak the setting for different environment, for example:
# - development server
# - local desktop
# - stage server
# - production server
[versions]
collective.recipe.cmd = 0.6

[hosts]
frontend-hostname = your.server.name
frontend-ip = 10.0.0.1

[users]
mariadb = sean
php-fpm = sean
nginx = sean
